.hero-label{
    background-color: #f6f7fb;
    border: 1px solid #f6f6f6;
    border-radius: 4px;
    padding: 4px 20px;
}

#hero-h1{
    font-weight: 700;
    line-height: 1.4;
    font-family: "Nunito Sans",sans-serif;
    font-size: 55px;
    color: #33324E;
}

#hero-p{
    font-size: 22px;
    color: #767dac;
}

.hero-btn{
    background-color: #4353ff;
    color: #fff;
    border: 1px solid #4353ff;
    font-size: 15px; 
    otline: none;
    padding: .7rem 1.4rem;
    font-weight: 600;
    transition: all .4s;
    border-radius: 5px;
}

#hero-span-one{
    color: #4353ff;
}

#hero-span-two{
    color: #FFFFFF80;
}   

.img{
    min-height: 558px;
    min-width: 546px;   
}

.img img{
    width: 100%;
    height: 100%;
}

.label-work p{
    background-color: rgba(67,83,255,.2);
    padding: 8px 22px;
    border-radius: 30px;
    color: #4353ff;
    display: inline;
}

.label-work h3{
    font-weight: 600;
    font-size: 30px;
    color: #33324e;
}

.icon{
    background-color: #4353ff;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    color: black;
}

.icon i{
    font-size: 70px;
    color: #fff;
}

.bulb p{
    background-color: #fff;
    height:35px;
    width: 35px;
    border-radius: 50%;
    color: #4353ff;
    font-size: 20px;
    font-weight: 500;
}

.bulb{
    position: absolute;
    top: 15px;
    right: 0px;
    width: 30px;
}

.card h5{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
}

.card p{
    color: #767dac;
    font-size: 18px;
}
.card-div{
    position: relative;
}

.custom-space {
    top: 70px;
    left: 350px;
}

.custom-space1 {
    top: 70px;
    left: 340px;
}

.service{
    background-color: #f6f7fb;
}

.service-hero h3{
    color: #33324e;
    font-size: 1.25 rem;
}

.service-hero p{
    color: #767dac;
}
.container-fluid {
    background-color: #f6f7fb;
}

.i i{
    font-size: 25px;
}

.service-part-two h2{
    color: #33324E;
}

.service-part-two p{
    color: #767DAC;
}

.service-part-two a{
    background-color: #4353FF;
    padding: .7rem 1.4rem;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.service-part-two-right h3{
    color: #33324E;
}

.service-part-two-right h6{
    color: #33324E;
}

.service-part-two-right p{
    color: #767DAC;
}
.wd i{
    color: #33324e;
}

.wd:hover{
    background-color: lightgrey;
    opacity: 1;
}

.service h2{
    font-size: 1.75rem;
    font-weight: 700;
    color: #33324E;
}

.service p{
    color: #767dac;
    font-size: 18px;
}

.service a{
    text-decoration: none;
    font-size: 18px;
    background-color: #4353FF;
    padding: .7rem 1.4rem;
    border-radius: 5px;
    color: #fff;
}

.service-right-one i{
    font-size: 30px;
    padding-top: 20px;
}

.pricing-span{
    color: #767DAC;
    font-size: 20px;
}

.card-body h1{
    font-size: 50px;
    font-weight: 700;
    color: #4353FF;
}

.pricing-card:hover{
    border: 1px solid #4353FF;
}


.bg{
    background-image: url("bg-4.jpg");
    width: auto;
    height: auto;
    background-size: cover;
    position: relative;
    background-position: center center; 
}



.bg-in-bg img{
    width: 50px;
    height: 100px;
    object-fit: contain;
}

.mx{
    background-color: #f6f7fb;
    padding-top: 50px;
    padding-bottom: 90px;
}

.mx-in a{
    text-decoration: none;
    font-size: 30px;
}

.ms img{
    width: 150px;
    height: 150px;
}

.ms-hr{
    min-width: 290px;
}

.ms-i{
    background-color: #f6f7fb;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-i i{
    color: #33324e;
    font-size: 18px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-i{
    font-size: 20px;
    background-color: blue;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-i i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-i{
    position: absolute;
    top: 130px;
    right: 65px;
}

.blog{
    background-color: #f6f7fb;
}
.card-in{
    background-color: #f6f7fb;
}
.card-in h5{
    color: #33324e;
}

#cardf{
    font-size: 14px;
    color: #767dac;
    font-weight: 600;
}

#card-text{
    color: #767dac;
    font-size: 17px;
}

.contact-bg{
    background-color: #f6f7fb;
}

.contact-i i{
    margin-top: 8px;
    margin-right: 15px;
    font-size: 20px;
    color: #33324E;
}

.contact-i-in h6{
    color: #33324E;
}

.contact-i-in p{
    color: #767DAC;
}



.footer{
    background-color: #F6F7FB;
}

.flogo{
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp p{
    color: #767DAC;
}
